:root {
  --white: white;
  --tomato: tomato;
  --yellow: #fae100;
  --gray2: rgba(0, 0, 0, 0.2);
  --gray3: rgba(0, 0, 0, 0.3);
  --gray4: rgba(0, 0, 0, 0.4);
  --gray5: rgba(0, 0, 0, 0.5);
  --black: #2e363e;

  --link: #fafafa;
  --background: #f9f9fa;

  --horizontal-space: 25px;
}
