.badge,
.dot {
  background-color: var(--tomato);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  font-size: 600;
}

.badge {
  width: 30px;
  height: 30px;
}

.dot {
  width: 10px;
  height: 10px;
}
