@keyframes badgeAnimation {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-5px) rotateY(360deg);
  }
  100% {
    transform: none;
  }
}

.badge,
.dot,
.alert {
  background-color: var(--tomato);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  font-weight: 600;
}

.badge {
  width: 30px;
  height: 30px;
  animation: badgeAnimation 2s ease-in-out infinite;
}

.dot {
  width: 10px;
  height: 10px;
}

.alert {
  width: 20px;
  height: 20px;
  background-color: var(--white);
  border: 2px solid var(--tomato);
  color: var(--tomato);
}
