.main-screen {
  padding: 0px var(--horizontal-space);
}

.main-screen__bound {
  margin: 25px 0px;
  border-top: var(--main-border);
}

.main-screen__bound-contents {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  color: var(--gray5);
}

.main-screen__bound-contents > *:last-child {
  color: var(--gray3);
  cursor: pointer;
}
