.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--background);
  padding: 20px 50px;
  /* border-top: 1px solid rgba(121, 121, 121, 0.3); */
  border-top: 1px solid var(--gray3);
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  position: relative;
  display: block;
}

.nav__notification {
  position: absolute;
  right: -10px;
  top: -10px;
}

.nav__new {
  position: absolute;
  right: -10px;
  top: -10px;
}
