.status-bar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  padding: 5px 3px;
  z-index: 10;
}

/* .status-bar__column {
  width: 33%;
}
.status-bar__column:first-child span {
  margin-right: 5px;
}
.status-bar__column:nth-child(2) {
  display: flex;
  justify-content: center;
}
.status-bar__column:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.status-bar__column .fa-battery-full {
  margin: 0 5px;
}  */

.status-bar__column {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.status-bar__column:first-child {
  justify-content: flex-start;
  flex-grow: 0;
}
.status-bar__column:last-child {
  justify-content: flex-end;
  flex-grow: 0;
}

.status-bar__column .fa-wifi {
  margin-left: 5px;
}

.status-bar__column .fa-battery-full {
  margin: 0 5px;
}

.status-bar + * {
  margin-top: 25px;
}
